
         .rating{
         width:80px;
         height:16px;
         margin:0 0 20px 0;
         padding:0;
         list-style:none;
         clear:both;
         position:relative;
         background: url(images/star-matrix.gif) no-repeat 0 0;
         }
         /* add these classes to the ul to effect the change to the correct number of stars */
         .nostar {background-position:0 0}
         .onestar {background-position:0 -16px}
         .twostar {background-position:0 -32px}
         .threestar {background-position:0 -48px}
         .fourstar {background-position:0 -64px}
         .fivestar {background-position:0 -80px}
         ul.rating li {
         cursor: pointer;
         /*ie5 mac doesn't like it if the list is floated\*/
         float:left;
         /* end hide*/
         text-indent:-999em;
         }
         ul.rating li a {
         position:absolute;
         left:0;
         top:0;
         width:16px;
         height:16px;
         text-decoration:none;
         z-index: 200;
         }
         ul.rating li.one a {left:0}
         ul.rating li.two a {left:16px;}
         ul.rating li.three a {left:32px;}
         ul.rating li.four a {left:48px;}
         ul.rating li.five a {left:64px;}
         ul.rating li a:hover {
         z-index:2;
         width:80px;
         height:16px;
         overflow:hidden;
         left:0;    
         background: url(images/star-matrix.gif) no-repeat 0 0
         }
         ul.rating li.one a:hover {background-position:0 -96px;}
         ul.rating li.two a:hover {background-position:0 -112px;}
         ul.rating li.three a:hover {background-position:0 -128px}
         ul.rating li.four a:hover {background-position:0 -144px}
         ul.rating li.five a:hover {background-position:0 -160px}
         /* end rating code */
         h3{margin:0 0 2px 0;font-size:110%}
     audio{widtd: 150px; }
         #linearBg2 {
         /* fallback */
         background-color: #1a82f7;
         background: url(images/linear_bg_2.png);
         background-repeat: repeat-x;
         color:white;
         /* Safari 4-5, Chrome 1-9 */
         background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
         /* Safari 5.1, Chrome 10+ */
         background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
         /* Firefox 3.6+ */
         background: -moz-linear-gradient(top, #2F2727, #1a82f7);
         /* IE 10 */
         background: -ms-linear-gradient(top, #2F2727, #1a82f7);
         /* Opera 11.10+ */
         background: -o-linear-gradient(top, #2F2727, #1a82f7);
         }
         .head{
         padding:10px;
         width:25%;
         }
         table{
         border:1px solid #eee;
         }
         #search{
         width:700px;}
         .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
